# Node.js environment variables.
NODE_ENV=
PORT=

# Application-specific environment variables.
APPLICATION_MODE=

# Bootstrap mode variables.
SIGNER_CLIENT_COMMON_NAME=
SIGNER_CERTIFICATE_FINGERPRINT=
NODES_CONFIG_PATH=

# Peer mode variables.
VAULT_ADDRESS=
VAULT_TOKEN=
